html{
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family:'Outfit', sans-serif;
}

body{
    background: hsl(217, 54%, 11%);
    margin: 0px;
    min-height: 100%;
    overflow: hidden;
    width: 1440px;
    margin: 0 auto;
}

main{
    width: 300px;
    height: 500px;
    margin: 100px auto 0;
    /* border: 2px solid black; */
    background: hsl(216, 50%, 16%);
    border-radius: 20px;
}

.img-equilibrium{
    width: 245px; 
    margin: 20px 28px 0 28px;
    border-radius: 15px;
}

.conteudo{
    margin-left: 27px;
    color: #FFFFFF
}

.conteudo h2{
    font-size: 16px;
}

.conteudo p{
    font-size: 13px;
    width: 90%;
    opacity: 0.6;
}

.informacoes{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.valor p{
    display: inline;
    margin-right: 30px;
    color: cyan;
    font-weight: bold;
    font-size: 12px;
}

.periodo p{
    display: inline;
    color: #CCCCCC;
    font-size: 12px;
}

.separacao{
    border-bottom: 1px solid #CCCCCC;
    width: 85%;
    margin: 24px auto;
    opacity: 0.2;
}

.footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}

.footer img{
    width: 10%;
    display: inline-block;
    border: solid 1px white;
    border-radius: 50px;
}

.creation{
    margin-left: 20px;
    color: #CCCCCC;
    opacity: 0.7;
    font-size: 12px;
}

.name{
    margin-left: 10px;
    opacity: 1.0;
    color: white;
    font-size: 12px;
}